@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Ensure scrollbars are visible */
}

::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}